<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between flex-wrap" style="width: 90%">
    <%@events.each do |event|%>
      <div class="card mt-2 ml-2 mr-2" style="width: 18rem;">
        <div class="card-body d-flex justify-content-between flex-column">
          <h5 class="d-flex flex-column"><span class="badge bg-secondary"><%= event.location %></span></h5>
          <h2 class="card-title d-flex justify-content-center fst-italic"><%= event.start_date.strftime("%d/%m/%Y") %></h2>
          <h3 class="card-title d-flex justify-content-center"><%= event.title %></h3>
          <p class="fst-italic">Événement créé par <%= event.administrator.email %></p>
          <h5 class="d-flex justify-content-between"><span class="badge rounded-pill bg-success"><%= event.participants.length %> participants</span><span class="badge rounded-pill bg-secondary"><%= event.price %>€</span></h5>
          <!--<p class="card-text"><%= event.description %></p>-->
          <%= link_to 'VOIR', event, class: "btn btn-primary" %>
        </div>
      </div>
    <%end%>
  </div>
</div>
